h1 {
    font-family: 'Roboto', sans-serif;}

body {
    font-family: sans-serif;
}

/* :root{
    --num: 255;
    --blue: 255;
    --min: rgba(0,0,255,.4);
    --max: rgba(255,0,0,.4);
    align-items: center;

} */
#eventForm {
    border: 3px solid black;
    width: fit-content;
    display: flex;
}
#eventName {
    align-content: flex-end;
}

#eventLocation{
    align-content: flex-end;
}

#eventDate {
    float: right;
}
#eventName1{
    flex-basis: 60%;
    float: right;
}

form button {
    float:right;
    padding:0 1em 0 1em;
    margin-right: 40px;
}

#weather {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    float:right;
    flex-basis: 25%;
    
}
/* #weather img {
    width: 120px;
    height: 120px;
} */
.weatherDay{
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(31deg, rgba(2,0,36,.1) 0%, rgba(9,9,121,0.4) 20%, rgba(255,0,70,1) 95%); */
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 8px;
}

.weatherDateGroup {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

/* .am_pm {
    font-size: 3em;
    align-content: right;
} */

.card {
    display: flex;
    flex-direction: row-reverse;
    max-width: 650px;
}

.weatherDetails {
    max-width: fit-content;
}

.eventButtons {
    display: flex;
    flex-direction: row;
}

.eventButtons button {
    max-width: fit-content;
}

.cardList {
    display: flex;
    align-items: center;
}

.icon{
    padding: 3px;
    width: 80px;
    height: 80px;
}