.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    
    margin-bottom: 2em;
    flex: 0 1 24%;
    flex-direction: column;
  }
  
  .card-content {
    padding: .5em;
  }
  
  .card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    /* color: rgb(207, 147, 69); */
  }
  
  .card-content p {
    font-size: 80%;
    color: darkslategrey;
  }
  
  .card_title {
    color: darkslategrey;
  }
  
  .card button {
    /* background-color: #82D1AC; */
    border: none;
    color: darkslategrey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    width: 100%;
  }
  
  .card button:hover {
    background-color: rgb(214, 148, 26);
  }

  .btn-primary{
    background-color:slategray;
    color: #fff;
  }
  
  .card-friend {
    font-style:italic;
    background-color: cornsilk;
  }