.article-spotlight {
    max-width: 400px;
    display: flex;
    border: 1px dashed gray;
    padding: 10px;
    margin: 10px;
  }
  
  .article-spotlight img {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .article-spotlight p {
    color: black;
  }

  .articleImage{
    height: 300px;
    width: 150px;
    object-fit: cover;
  }