h1 {
    font-family: 'Roboto', sans-serif;}

body {
    font-family: sans-serif;
}

.read-more-link{
    color: #AE4722;
    text-decoration: underline;
    cursor: pointer;
}

.extra-content{
    color:#AE4722
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    padding: 3px;
    margin-bottom: 2em;
    flex: 0 1 24%;
    flex-direction: column;
    border: #AE4722 solid 4px;
  }

  .PMcard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3px; 
    padding: 3px;
    margin-bottom: 2em;
    flex: 0 1 24%;
    flex-direction: column;
    border: #AE4722 solid 2px; 
    background-color: white; 
  }
  
  .card-content {
    padding: .5em;
  }
  
  .card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
  }
  
  .card-content p {
    font-size: 80%;
    color: darkslategrey;
  }
  
  .card_title {
    color: darkslategrey;
  }
  
  .card button:hover {
    background-color: #AE4722;
    color: #FBEFDD
  }

  .btn-primary{
    background-color:slategray;
    color: #fff;
  }
  