.Highlight{
    border: 2px solid #AE4722;
    width: 300px;
}

.articleHighlight{
    border: 2px solid #AE4722;
    width: 300px;
}

.messageBoard{
    border: 2px solid #AE4722;
    width: 300px; 
}

.dashboard{
    display: flex;
}