.button {
    background-color: #FBEFDD;
    border: #AE4722 2px solid;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: .5em;
    width: 120px;
  }
  
  .a {
    background-color: #AE4722;
    color: #FBEFDD
}