.navbar{
    background-color: #525A7C;
    color: #FBEFDD;
    height: 100px;
    padding: 0px;

}

.logo{
    width: 90px;
    height: 90px;
    padding: 0px;
}

.nav-link{
    color: #FBEFDD; 
}

.footer{
    background-color: #525A7C;
    color: #FBEFDD;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
}