h1 {
    font-family: 'Roboto', sans-serif;}

body {
    font-family: sans-serif;
}

.navbar{
    background-color: #525A7C;
    color: #FBEFDD;
    height: 100px;
    margin-top: 20px;
}

.logo{
    width: 90px;
    height: 90px;
    padding: 0px;
}

.nav-link{
    color: #FBEFDD; 
}

a {
    color: #AE4722;
    text-decoration: none;
    background-color: transparent;
}

.footer{
    background-color: #525A7C;
    color: #FBEFDD;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    clear: all;
}